<html>
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <h1>This is a Handlebars App o/</h1>
        <ul>
            {{#each list}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </body>
</html>