<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <h1>This is a EJS App o/</h1>
        <ul>
            <%for(i = 0; i < list.length;i++){%>
                <li><%=list[i]%></li>
            <%}%>
        </ul>
    </body>
</html>